header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#logo-container img:hover {
  animation: rotation 5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  50% {
    transform: rotate3d(0, 1, 0, 180deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }

  .menu {
    display: block;
  }
}

@media (max-width: 500px) {
  .sidebar {
    width: 100%;
  }
}
