/* MovieCard.css */

.movie-card {
  width: 450px;
  margin: 0.625rem 0;
  padding: 1rem;
  border-radius: 0.3125rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  background-color: rgba(0,0,0,.7);

}

.movie-card:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  cursor: auto;
  transition: all 0.4s ease-in-out;
  transform: scale(1.025);
}

.movie-card img {
  width: 100%;
  height: auto;
  border-radius: 0.3125rem;
  margin-bottom: 0.625rem;
}

.movie-card .movie-title {
  font-weight: bold;
  margin-top: 0.3125rem;
}

.movie-card .movie-release-date {
  font-size: 0.75rem;
  color: #666;
  margin-top: 0.3125rem;
}

.movie-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
